<div style="width: 750px; background-color: white; padding: 10vh; margin: auto">
  <a href="/list2">Xem danh sách 2</a>
  <input
    type="text"
    placeholder="Tìm kiếm"
    (keyup.enter)="search(searchText)"
    [(ngModel)]="searchText"
    class="searchText"
  />
  <ul>
    <li *ngFor="let item of displayProducts">
      <div>
        <input type="checkbox" [checked]="item.chose" (click)="choose(item)" />
        <span
          [class]="!item.extended ? 'name arrow-down' : 'name arrow-up'"
          (click)="item.extended = !item.extended"
        >
          {{ item.name.vi | uppercase }}
        </span>
        <br />
        <!-- <ng-container
          [ngTemplateOutlet]="template"
          [ngTemplateOutletContext]="{ item: item }"
        >
        </ng-container> -->
        <div *ngIf="item.extended" class="nested">
          <div *ngIf="item.subShow">
            <div *ngFor="let i of item.subShow">
              <input type="checkbox" [checked]="i.chose" (click)="choose(i)" />
              <span
                [class]="!i.extended ? 'name arrow-down' : 'name arrow-up'"
                (click)="i.extended = !i.extended"
              >
                {{ i.name.vi | lowercase }}
              </span>
              <br />
              <div *ngIf="i.extended" class="nested">
                <div *ngIf="i.subShow">
                  <div *ngFor="let j of i.subShow">
                    <input
                      type="checkbox"
                      [checked]="j.chose"
                      (click)="choose(j)"
                    />
                    <span class="name" (click)="j.extended = !j.extended">
                      {{ j.name.vi | lowercase }}
                    </span>
                  </div>
                </div>
                <div *ngIf="!i.subShow" style="padding-left: 10px">
                  Chưa có lựa chọn nào trong danh sách
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="!item.subShow" style="padding-left: 10px">
            Chưa có lựa chọn nào trong danh sách
          </div>
        </div>
      </div>
    </li>
  </ul>
  <label>
    Sản phẩm đã chọn: <br />
    <span *ngFor="let item of choseProducts">{{ item.name.vi }}<br /></span>
  </label>
</div>

<!-- <ng-template #template let-item="item">
  <div *ngIf="item.extended" class="nested">
    <div *ngIf="item.subShow">
      <div *ngFor="let i of item.subShow">
        <input type="checkbox" [checked]="i.chose" (click)="choose(i)" />
        <span
          [class]="!i.extended ? 'arrow arrow-down' : 'arrow arrow-up'"
          (click)="i.extended = !i.extended"
        >
          {{ i.name.vi | lowercase }}
        </span>
        <br />
        <ng-container
          [ngTemplateOutlet]="template"
          [ngTemplateOutletContext]="{ item: i }"
        >
        </ng-container>
      </div>
    </div>
    <div *ngIf="!item.subShow">Chưa có lựa chọn nào trong danh sách</div>
  </div>
</ng-template> -->
